




.nav_bar_container {
  min-height: 120px;
  width: 100%;
  background-color: #4056A1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  
}

.nav_logo_title {
  font-family: 'Bungee';
  color: #fff;
  font-size: 2em;
  padding-left: 1.5em;
  padding-top: 1em;
  padding-bottom: .2em;
  
}

.nav_write_tweet {
  color: #fff;
  display: flex;
  font-size: 1.5em;
  padding-right: 1.5em;
  padding-top: 1em;
}

.nav_write_tweet:hover {
  color:rgb(205,212,235)
  
}

.font_strong_write {
  font-weight: 600;
}
.navArrow {
  color: red;
  font-size: 1.3em;
  padding-left: 3.7em;
  animation: updown 2s ease infinite;
 }

 .navHeadSpace {
  height: 120px;
}


#dblarrowButton {
width: 10rem;

}